*{
    font-family: FreeMono, monospace;
    text-align: center;
    margin: 2px;
}
body {
    display: grid;
    background-color: #f9f9f9;
}

.ratingsBox{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.ratingsBlock{
    flex-grow: 1;
}